TakServiceTest/Service References/CloudTakMoveService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ptn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMoveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>